:root {
  --primary: #fb8500;
  --accent-1: #ffb703;
  --accent-2: #023047;
  --accent-3: #04f06a;
  --accent-4: #63d2ff;
  --accent-5: #009ffd;
  --line-gray: #bcb8b1;
  --bg: #0a0908;
  --bg-gray: #e9ecef;
  --bg-dark-gray: #6c757d;
  --RB-color: #e76f51;
  --WR-color: #f4a261;
  --QB-color: #2a9d8f;
  --TE-color: #264653;
  --K-color: #e9c46a;
}

.App {
  text-align: center;
  font-family: "Roboto";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.title {
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  border: 1px solid rgba(0, 0, 0.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3,
p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

/*actual*/

.player-heading {
  white-space: nowrap;
}

/* global */
.panel {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
  position: relative;
  /*border: var(--line-gray) 1px solid;*/
  box-shadow: 0px 1px 2px var(--line-gray);
}

/*
.panel:before {
  content: "";
  background: linear-gradient(
    45deg,
    var(--primary),
    var(--accent-1),
    var(--accent-3),
    var(--accent-4)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 500%;
  z-index: -1;
  filter: blur(0px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  /*animation: glowing 40s linear infinite;*/
/*opacity: 1;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}*/

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
