.actionboard {
  position: fixed;
  top: 50%;
  overflow-y: scroll;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: var(--primary) 0px -4px;
  border-radius: 20px;
  width: 100%;
  background: var(--bg-gray);
}

.player-feed {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-left: 2rem;
}

/*position filters */
.feed-header {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 0;
  justify-content: space-around;
}

.position-filters {
  display: flex;
  flex: 0 0 60%;
  justify-content: space-between;
}
.feed-header-side {
  flex: 1 0 10%;
  text-align: center;
}
@media only screen and (min-width: 500px) {
  .feed-header {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.position-filter {
  border: 2px solid lightgray;
  border-radius: 50%;
  background-color: transparent;
  width: 20px;
  text-align: center;
  height: 20px;
  position: relative;
  padding: 15px;
}
.position-filter p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}
.selected-All {
  border-color: var(--primary);
}
.selected-RB {
  border-color: var(--RB-color);
}
.selected-WR {
  border-color: var(--WR-color);
}
.selected-QB {
  border-color: var(--WB-color);
}
.selected-TE {
  border-color: var(--TE-color);
}
.selected-K {
  border-color: var(--K-color);
}
