.dashboard {
  display: flex;
  flex-wrap: wrap;
}

.draft-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.draft-section-header {
  flex: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}
.draft-row,
.league-row {
  display: flex;
  flex: 100%;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.draft-title {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.draft-btn {
  flex: 0 0 50%;
}
.mock-btn {
  flex: 0 0 20%;
}
.draft-settings {
  color: black;
}

/*league styles */
.league-title {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 0.5rem;
}
.league-name {
  margin: 0;
}
.league-title-section {
  display: flex;
  align-items: center;
}

.league-select-section {
  padding: 1.5rem 0;
}
.list-icon {
  color: var(--accent-1);
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;

  padding: 1rem;
  border-bottom: var(--bg-gray) solid;
}

li:first-child {
  padding-top: 0;
}

.copy-icon {
  padding-left: 0.5rem;
}
