.draftboard {
  display: flex;
  position: absolute;
  top: 0;
  height: 55%;
  left: 50%;
  width: 100%;
  font-family: "Roboto";
  transform: translate(-50%);
  overflow: scroll;
  justify-content: center;
  background-color: var(--bg-dark-gray);
}
.team-column {
  width: 30vw;
  padding: 2px;
  max-width: 121px;
  position: relative;
  height: 180%;
}
.team-column:first-child {
}

.draftboard::-webkit-scrollbar {
  display: none;
}

.selection {
  border-radius: 10px;
  margin: 2px;
  height: 61px;
  width: 29vw;
  max-width: 120px;
  display: flex;
}
.selection:last-child {
}

.selection-content {
  padding: 5px;
  width: 100%;
  color: #e9ecef;
}
/*column*/
.team-name {
  text-align: center;
  text-transform: capitalize;
}
/*Top section */
.information {
  display: flex;
  height: auto;
  justify-content: space-between;
}
.information p {
  margin: 0;
  color: #dee2e6;
}
.pos-team,
.pick-info {
  display: flex;
  font-size: 0.7rem;
  color: #343a40;
}

.unpicked .pick-info {
  color: #fff;
}

/*name section*/
.pick-name {
  color: #212529;
}
.pick-text {
  color: #343a40;
}
/* Only pick */
.information.unpicked {
  justify-content: flex-end;
}
