.player-heading {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  background-color: var(--bg-gray);
}

.heading-name {
  margin: 0;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 115px;
}

.heading-team-pos {
  margin: 0;
  color: gray;
}

.player-details-button {
  background-color: transparent;
  border-style: none;
  text-align: left;
  height: 100%;
  display: flex;
  width: 120px;
  text-overflow: ellipsis;
}
.player-title {
  width: 120px;
  text-overflow: ellipsis;
}

.stat {
  width: 60px;
}
.stat-name {
  margin: 0;
  color: gray;
  font-size: 0.8rem;
}
.stat-value {
  margin: 0;
}
